<!-- CTA SECTION -->
<section class="cta-section text-center text-white py-5">
  <div class="container">
    <h2 class="fw-bold mb-3">Ready to Get Started?</h2>
    <p class="mb-4">
      Join thousands of satisfied customers who trust ServiceHub for their home
      service needs
    </p>
 
    <div class="d-flex justify-content-center gap-3">
      <button class="btn btn-light btn-lg fw-semibold" routerLink="/register">
        Create Account →
      </button>
      <button class="btn btn-outline-light btn-lg" routerLink="/login">
        Sign In
      </button>
    </div>
  </div>
</section>
 
<!-- FOOTER -->
<footer class="footer-section text-white pt-5">
  <div class="container">
 
    <div class="row pb-4">
 
      <!-- Logo & Description -->
      <div class="col-md-3 mb-4">
        <h5 class="fw-bold mb-2">⚡ ServiceHub</h5>
        <p class="  small footer-links">
          Your trusted platform for professional home services.
        </p>
      </div>
 
      <!-- Services -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold mb-3">Services</h6>
        <ul class="list-unstyled footer-links">
          <li>Electrical</li>
          <li>Plumbing</li>
          <li>Maintenance</li>
        </ul>
      </div>
 
      <!-- Company -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold mb-3">Company</h6>
        <ul class="list-unstyled footer-links">
          <li>About Us</li>
          <li>Careers</li>
          <li>Contact</li>
        </ul>
      </div>
 
      <!-- Legal -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold mb-3">Legal</h6>
        <ul class="list-unstyled footer-links">
          <li>Privacy Policy</li>
          <li>Terms of Service</li>
        </ul>
      </div>
 
    </div>
 
    <hr class="footer-divider">
 
    <div class="text-center small  pb-5 footer-links">
      © 2026 ServiceHub. All rights reserved.
    </div>
 
  </div>
</footer>