.login-wrapper {
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}
.brand {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #5b4cf3, #372a4f);
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo img {
  width: 120px;
  padding-top: 5px;
  height: auto;
}

.card-box1{
  border-radius: 15px;
  width: 400px;
}
.invite{
    font-weight: bold;
    font-family: inherit,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button1{
    border: 1px solid rgb(140, 135, 150);
    min-width: 45%;
    padding: 7px;
    border-radius: 10px;
    /* background: #ffffff; */
    cursor: pointer;
    transition: all 0.3s ease;
    background: #f5f5f5;
}
.button1:hover {
  background: #f0f7ff;
}

.button1:focus {
  background: #007bff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}
/* .button1:hover{
    border: 2px solid blue;
}
.button1:focus {
  background-color: #cce0ff;
} */
.btn-flex {
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
  gap: 4px; 
  background-color: blue;      
  color: #E2E8F0;         /* space between icon & text */
}
.buttons{
    display: flex;
    justify-content: space-between;
}
/* .bottom_nav{
    font-size: 10px;
} */
/* Media Query */
/* @media (max-width: 768px) {
  .card-box {
    width: 90%;
  }
} */
@media (max-width: 330px) {
  .bottom_nav{
    font-size: 14px;
}
}
