<header class="bg-white shadow-sm  py-1">
  <div class="container-fluid navbar-wrapper">
 
    <!-- LEFT -->
    <div class="logo d-flex align-items-center">
      <a href="" (click)="closeMenu()" class="d-flex align-items-center text-decoration-none">
        <div class="img-bg me-2">
          <img src="assets/Logo.png" class="logo-icon">
        </div>
        ServiceHub
      </a>
      <span class="provide ms-3">Provider Dashboard</span>
    </div>
 
    <!-- RIGHT -->
    <div class="header-right">
 
      <span class="badge bg-light text-dark px-3 py-2">
        Welcome, <strong style="color: #5b4cf3;">{{ userName }}</strong>
      </span>
 
      <!-- DESKTOP MENU -->
      <nav class="desktop-menu">
        <a class="text-decoration-none"
               [routerLink]="route ? 'service_body' : 'assigned-bookings'"
               (click)="routemethod()">
              {{ route ? 'Book Service' : 'My Bookings' }}
            </a>
        <button class="btn btn-outline-danger px-2" routerLink="/login">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </nav>
 
      <!-- MOBILE TOGGLE -->
      <div class="menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
 
    </div>
 
  </div>
 
  <!-- MOBILE SIDE MENU -->
  <nav class="mobile-menu" [class.active]="menuOpen">
 
    <div class="close-btn" (click)="closeMenu()">✕</div>
 
    <a class="text-decoration-none"
               [routerLink]="route ? 'service_body' : 'assigned-bookings'"
               (click)="routemethod()">
              {{ route ? 'Book Service' : 'My Bookings' }}
            </a>
    <div class="text-center">
      <button class="btn btn-outline-danger w-50 logout-btn" routerLink="/login">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </div>
 
  </nav>
</header>
 
<router-outlet></router-outlet>