<section id="services">
    <!-- Services Section -->
    <div class="container py-5 text-center">
      <h2 class="fw-bold mb-2">Our Services</h2>
      <p class="text-muted mb-5">
        Professional services delivered by verified experts with years of experience
      </p>
      <div class="row g-4">
      <!-- Electrical -->
        <div class="col-md-4">
                   
          <div class="card service-card h-100 rounded-4">
            <div class="img-wrapper">
            <img src="assets/Electrical.jpeg" class="card-img-top" alt="Electrical Services">
          </div>
     
          <div class="card-body text-start p-4">
            <div class="icon-box mb-3">⚡</div>
              <h5 class="fw-bold">Electrical Services</h5>
              <p class="text-muted"> Certified electricians for all your electrical needs, from repairs to installations.</p>
              <a href="#" class="fw-semibold text-decoration-none" style="color:#5b4cf3;">
                Book Now →
              </a>
            </div>
          </div>
        </div>
     
     
     
        <!-- Plumbing -->
         <div class="col-md-4">
                   
          <div class="card service-card h-100 rounded-4">
            <div class="img-wrapper">
            <img src="assets/plumbing.jpg" class="card-img-top" alt="Electrical Services">
          </div>
     
          <div class="card-body text-start p-4">
            <div class="icon-box mb-3">💧</div>
              <h5 class="fw-bold">Plumbing Services</h5>
              <p class="text-muted"> Expert plumbers ready to fix leaks, clogs,
                and handle installations 24/7.</p>
              <a href="#" class="fw-semibold text-decoration-none" style="color:#5b4cf3;">
                Book Now →
              </a>
            </div>
          </div>
        </div>
     
        <!-- Home Maintenance -->
          <div class="col-md-4">
                   
          <div class="card service-card h-100 rounded-4">
            <div class="img-wrapper">
            <img src="assets/Maintanance.jpg" class="card-img-top" alt="Electrical Services">
          </div>
     
          <div class="card-body text-start p-4">
            <div class="icon-box mb-3">🛠️</div>
              <h5 class="fw-bold">Home Maintenance</h5>
              <p class="text-muted"> Professional maintenance services to keep
                your home in perfect condition.</p>
              <a href="#" class="fw-semibold text-decoration-none" style="color:#5b4cf3;">
                Book Now →
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>