  <section id="howitworks">
      <div class="container  py-5 text-center">
     
      <!-- Title -->
      <h2 class="fw-bold mb-2">How It Works</h2>
      <p class="text-muted mb-5">
        Get your home services done in three simple steps
      </p>
     
      <!-- Steps -->
      <div class="row g-5">
     
        <!-- Step 1 -->
         <div class="col-md-4 position-relative">
          <div class="step-card text-start">
            <div class="step-number">1</div>
            <h5 class="fw-bold mt-3">Choose Your Service</h5>
            <p class="text-muted">
              Select the service you need from our wide range of home services
            </p>
          </div>
          <div class="col-md-1 d-none d-md-block arrow position-absolute top-50 start-100 translate-middle">→</div>
        </div>
     
        <!-- Step 2 -->
        <div class="col-md-4  position-relative">
          <div class="step-card text-start">
            <div class="step-number">2</div>
            <h5 class="fw-bold mt-3">Schedule & Book</h5>
            <p class="text-muted">
              Pick your preferred date and time, describe your issue
            </p>
          </div>
          <div class="col-md-1 d-none d-md-block arrow position-absolute top-50 start-100 translate-middle">→</div>
        </div>
     
        <!-- Step 3 -->
        <div class="col-md-4 position-relative">
          <div class="step-card text-start">
            <div class="step-number">3</div>
            <h5 class="fw-bold mt-3">Get It Done</h5>
            <p class="text-muted">
              A verified professional will arrive and complete the job
            </p>
          </div>
        </div>
     
      </div>
    </div>
     
  </section>  